<div ng-include="'components/navbar/navbar.html'"></div>
<hr>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <h1>The BEST GPA Calculator</h1>
            <!-- Input area -->
            <form ng-submit="addClass()">
                <input ng-model="classField" type="text" size="20" placeholder="Class Name">
                <input ng-model="gradeField" ng-maxlength="1" type="text" size="17" placeholder="Letter Grade Earned">
                <input ng-model="creditField" type="text" size="20" placeholder="Number of Credits">
                <span class="floatRight">Classes in this calculator: {{classesInList()}}</span>
                <br />
                <br />
                <span class="floatRight {{returnGpaColor(currentGpa())}}" id="GpaColor" >Total GPA: {{currentGpa()}}</span>
                <input type="submit" value="submit" class="btn btn-primary"/>
                <br />
            </form>

        </li>
        <!--Table underneath input area that displays all classes added with the option of removing them -->
        <li class="list-group-item" ng-repeat="test in ourClasses">Class: {{test.className}}-----------Grade: {{test.gradeEarned}}-----------Credits: {{test.numberOfCredits}}<span class="glyphicon glyphicon-remove floatRight" style="color: red"  ng-click="removeClass($index)"></span></li>
    </ul>
</div>
